.contact-container {
    position: relative;

    .contact-row {
        text-align: center;
        position: relative;

        .contact-form-row {

            .contact-form {
                background-color: black;
                height: 200px;
            }
        }

        .map {

            .map-box {
                background-color: red;
                height: 200px;
            }
        }
    }
}