.jumbotron {
    padding-top: 6em;
    padding-bottom: 6em;
    margin-bottom: 1em;
}

.pic1 {
    text-align: center;
    height: 20em;
    background-color: red;
    position: relative;
    padding-right: 3em;

    .text1 {
        padding-top: 4em;
        padding-bottom: 5em;
        height: 14em;
        width: 22em;
        float: right;
        background-color: #1b1b1b;
        top: 50%;
        margin-top: 3em;
        border: 2px solid white;
        border-radius: 2em;

        h1 {
            text-align: center;
            text-transform: uppercase
        }
    }

    // .square1 {
    //     width: 98%;
    //     background-color: rgba(255, 201, 25, 0.9);
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     display: none;
    //     border-radius: .5em;
    //     cursor: pointer;

    // }
}

.pic2 {
    text-align: center;
    height: 20em;
    background-color: green;
    position: relative;
    padding-left: 3em;

    .text2 {
        padding-top: 4em;
        padding-bottom: 5em;
        height: 14em;
        width: 22em;
        background-color: #1b1b1b;
        top: 50%;
        margin-top: 3em;
        border: 2px solid white;
        border-radius: 2em;
    }
}

// .about-container {
//     padding: 0em 1em;

//     .about-row {
//         text-align: center;
//         h3 {
//             font-size: 2em;
//             color: red;
//             letter-spacing: 0.5px;
//             margin-bottom: 1em;
//             padding: 1em;
//             border-top: 2px solid blue;
//             border-bottom: 2px solid blue;
//         }

//         @media screen and (max-width: 900px) {
//             h3 {
//                 text-align: center;
//             }
//         }
//         .about-container {
//             margin-top: -0.75em;
//             .square {
//                 width: 100%;
//                 .glyph-container {
//                     .glyphicon {
//                         font-size: 2em;
//                         padding: 0.5em 0.5em;
//                         color: red;
//                     }
//                 }
//                 .text-container {
//                     h4 {
//                         text-align: left;
//                         color: green;
//                         font-size: 1.2em;
//                     }
//                     p {
//                         text-align: left;
//                         color: slategrey;
//                         height: 5em;
//                         font-size: 1em;
//                     }
//                 }
//             }
//             @media screen and (max-width: 900px) {
//                 .square {
//                     margin-bottom: 3em;
//                     min-height: 0px;
//                     .text-container {
//                         h4 {
//                             margin: 0em auto;
//                             margin-bottom: 0.5em;
//                             text-align: center;
//                         }
//                         p  {
//                             margin: 0em auto;
//                             text-align: center;
//                             padding-left: 0px;
//                             max-width: 15em; 
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }