.navbar {
    height: 5em;

    .container-fluid {
        height: 5em;

        .logo {
            height: 4.5em;

            img {
                height: 2.5em;
            }
        }

        .collapse {

            .navbar-right {
                padding-top: .7em;

                li {
                    padding-right: 1em;
                    letter-spacing: 1px;
                }
            }
        }
    }
}