.navbar {

    .navbar-right {
        link {
            margin-right: 1em;
            letter-spacing: 1px;
        }
    }

    img{
        height: 1.5em;
        margin-top: -3px;
        margin-left: .5em;
    }
}


