<h1>This is the account home page</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>The list of the user's current buildings</h1>
            <div class="building-list" ng-repeat="building in buildings">
                <h4>{{ building.name }} <a href="#" ng-click="showDetails()">Details</a> <a href="#" ng-click="showRoutes()">Routes</a></h4>
                <div class="building-details" ng-hide="hideDetails">
                    <p>Height: {{ building.height }}</p>
                    <p>Width: {{ building.width }}</p>
                    <p>Length: {{ building.length }}</p>
                </div>
                <div class="routes-div" ng-hide="hideRoutes">
                    <div class="singleroute-div" ng-repeat="route in routes">
                        <h5>Route ID: {{ route.id }}</h5>
                        <p ng-repeat="step in route.commands">{{ step.command }}: {{ step.amount }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Create a new building</h1>
            <input type="text" ng-model="buildingName" placeholder="building name">
            <input type="number" ng-model="height" placeholder="height">
            <input type="number" ng-model="width" placeholder="width">
            <input type="number" ng-model="length" placeholder="length">
            <button ng-click="createBuilding()">Create Building</button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Create a new route</h1>
            <create-route></create-route>
        </div>
    </div>
</div>