<div class="account-body">
	<div class="container-fluid container">
		<div class="row">
			<div class="buildings-container col-md-12">
				<h1> Current Buildings:</h1>
				<div class="building-names">
					<div class="building-list col-md-6 col-sm-6 col-xs-12" ng-repeat="building in buildings">
						<h4 class="buildingz">{{ building.buildingName }} </h4>
						<div class="detail-view">
							<p class="detailz" href="#" ng-click="showDetails(building, $index)">Details</p>
							<p class="routez" href="#" ng-click="showRoutes(building)">Routes</p>
						</div>
						<div class="building-details thumbnail col-md-12" ng-hide="building.hideDetails" ng-init="building.hideDetails = true">
							<div class="thumb-photo">
								<div id="shape-{{$index}}" class="shape-div"></div>
							</div>
							<div class="caption col-md-12">
								<div class="letter col-md-4">
									<h4>H: </h4>
									<p class="l"> {{ building.height }}</p>
								</div>
								<div class="letter col-md-4">
									<h4>W: </h4>
									<p class="l"> {{ building.width }}</p>
								</div>
								<div class="letter col-md-4">
									<h4>L: </h4>
									<p class="l"> {{ building.length }}</p>
								</div>
							</div>
							<div class="routes-div col-md-12" ng-hide="building.hideRoutes" ng-init="building.hideRoutes = true">
								<div class="singleroute-div" ng-repeat="route in building.routes track by $index">
										<h3>Route ID: {{ route.id }}</h3>

										<button class="btn btn-primary flybutton" id="flyroutebtn" ng-click="flyRoute(route)">Fly Route</button>
									<div class="commands">
										<div ng-repeat="height in route.heights track by $index">
											<p>Height: {{height.height}} ft.</p>
										</div>
										<div ng-repeat="step in route.commands track by $index">
											<p>Lat: {{step.latitude}}<br>Lng: {{step.longitude }}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="create-container container">
		<div class="create-row row">
			<div class="building-btn col-md-6 col-sm-6 col-xs-12">
				<create-building class="create-building"></create-building>
			</div>
			<div class="building-btn two col-md-6 col-sm-6 col-xs-12">
				<create-route class="create-route"></create-route>
			</div>
		</div>
	</div>