  <!--<div class="howitworks">
    <h1>this is how it works</h1>
  </div>-->

<div class="pics container">
	<div class="pic-row row ">
		<div class="pic-container col-md-6 col-sm-12">
			<div class="square1" ng-click="software()"></div>
			<div class="text1" ng-click="software()">
				<h1>Software</h1>
			</div>
		</div>
		<div class="pic-container col-md-6 col-sm-12">
			<div class="square2" ng-click="hardware()"></div>
			<div class="text1" ng-click="hardware()">
				<h1>Hardware</h1>
			</div>
		</div>
	</div>
</div>

<div class="explanation">
	<div class="software-container container">
		<div class="software-row row">
			<div class="software-section col-md-12" id="software">
				<h1>this is the software section</h1>
			</div>
		</div>
	</div>

	<div class="hardware-container container">
		<div class="hardware-row row">
			<div class="hardware-section col-md-12" id="hardware">
				<h1>this is the hardware section</h1>
			</div>
		</div>
	</div>
</div>



<!--glyphicon situation-->
<!--<div class="about-container row">
    <div class="about-row col-md-12">
        <h3>About Hover</h3>
        <div class="about-container col-md-4">
            <div class="square col-md-12">
                <div class="glyph-container col-md-3">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </div>
                <div class="text-container col-md-9">
                    <h4>Who?</h4>
                    <p>Suscipit leo libero, eros semper a et et turpis, pellentesque libero nulla quis rutrum blandit, iaculis proin vestibulum.</p>
                </div>
            </div>
        </div>
        <div class="about-container col-md-4">
            <div class="square col-md-12">
                <div class="glyph-container col-md-3">
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </div>
                <div class="text-container col-md-9">
                    <h4>What</h4>
                    <p>Suscipit leo libero, eros semper a et et turpis, pellentesque libero nulla quis rutrum blandit, iaculis proin vestibulum. </p>
                </div>
            </div>
        </div>
        <div class="about-container col-md-4">
            <div class="square col-md-12">
                <div class="glyph-container col-md-3">
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                </div>
                <div class="text-container col-md-9">
                    <h4>Tools</h4>
                    <p>Suscipit leo libero, eros semper a et et turpis, pellentesque libero nulla quis rutrum blandit, iaculis proin vestibulum. </p>
                </div>
            </div>
        </div>
    </div>
</div>-->